.body {
  display: grid;
  grid-template-rows: auto 1fr;
  gap: 4px;

  &_title {
    padding: 12px 0;
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;

    &_content {
      line-height: 24px;
      color: var(--gray-900);
    }

    &_add {
      display: grid;
      place-items: center;
      background: transparent;
      border: 0;
      outline: 0;
      cursor: pointer;
    }
  }
}
