.body {
  display: flex;
  flex-direction: column;
  overflow: hidden;

  .subList {
    display: flex;
    flex-direction: column;
    transition: all ease-in-out 0.6s;
    // transform: translateY(-100%);

    &.active {
      //   transform: translateY(0);
    }
  }
}
